* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-drag: none;
}
html,
body {
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  position: fixed;
  display: flex;
  align-content: flex-start;
  align-items: center;
  height: 13vh;
  width: 100vw;
  top: 0;
  background-color: rgb(12, 99, 156);
  z-index: 1;
}
.buttons {
  margin-left: 0vw;
  width: 50vw;
  display: flex;
  justify-content: space-evenly;
}

.algo_button {
  margin-left: 4.8vw;
}
.dropdown {
  position: absolute;
  height: 25vh;
  width: 12vw;
  display: flex;
  border-radius: 5%;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  list-style: none;
  background-color: rgb(8, 73, 117);
  color: rgb(228, 228, 228);
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10%);
  transition: 0.4s;
}
.dropdown li {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.first {
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}
.last {
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
}
.dropdown li:hover {
  background-color: rgb(5, 53, 85);
  cursor: pointer;
}
.algorithms,
button {
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border-radius: 10%;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}
button:focus {
  outline: none;
}
.algorithms:hover,
button:hover {
  background-color: rgb(8, 73, 117);
}
.algorithms:focus {
  background-color: rgb(8, 73, 117);
  outline: none;
}
.algorithms:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0%);
}

.board {
  width: 1000px;
  transform: translateY(5%);
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.node {
  height: 30px;
  width: 30px;
  border: 0.5px solid rgb(39, 202, 189);
}
.node:after {
  content: ""; /* needed for rendering */
  position: relative;
  display: block; /* so we can set width and height */
  height: 0%;
  width: 0%;
  border-radius: 50%;
  margin: auto; /* center horizontally */
  background: rgb(66, 66, 66);
  top: 50%; /* center vertically */
  transform: translateY(-50%); /* center vertically */
}
.node.searching:after {
  height: 100%;
  width: 100%;
  background: rgb(111, 197, 255);
  border: 0.5px solid rgb(104, 191, 231);
  border-radius: 0%;
  transition: 2.5s;
}
.node.closed:after {
  height: 100%;
  width: 100%;
  background: rgb(142, 246, 250);
  border: 0.5px solid rgb(56, 226, 238);
  border-radius: 0%;
  transition: 2.5s;
}
.node.path:after {
  height: 100%;
  width: 100%;
  background: rgb(229, 255, 82);
  border: 0.5px solid rgb(229, 255, 82);
  border-radius: 0%;
  transition: 1s;
}

.node.selected:after {
  height: 100%;
  width: 100%;
  border: 0.5px solid rgb(66, 66, 66);
  border-radius: 0%;
  transition: 0.3s;
}
.start-point {
  background-image: url("icons/start.svg");
  height: 30px;
}
.goal {
  background-image: url("icons/goal.svg");
  height: 30px;
}

#dropdown-icon {
  height: 20px;
  width: 20px;
  transform: translateY(15%);
}
#dropdown-icon:hover {
  color: white;
}
#visualizer {
  background: none;
  border: none;
  font-size: 20px;
  color: rgb(255, 255, 255);
  border: 2px solid rgb(165, 253, 191);
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  transition: 0.4s;
}
#visualizer:hover {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(255, 255, 255);
  border: 2px solid rgb(255, 255, 255);
}
#title {
  background-color: rgb(12, 99, 156);
  transform: translateY(-69%);
  font-weight: normal;
  color: white;
  height: 7vh;
  width: 20vw;
  text-align: center;
  border-radius: 5px;
  text-shadow: 1px 1px rgb(255, 255, 255);
  position: absolute;
  top: 115px;
}
